body {
  color: #417E87;
}

/* Bold and title text color */
h1, h2, h3, h4, h5, h6, strong {
  color: #006AFF;
}

/* Links */
a {
  color: #006AFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
